# Todos los archivos que terminen en AssemblyInfo.cs y AssemblyInfoInputs.cache
**/obj/Debug/net9.0/*AssemblyInfo.cs
**/obj/Debug/net9.0/*AssemblyInfoInputs.cache

# Todos lo archivos que termine .dll
*.dll

# Todos lo archivos que termine .exe
*.exe

# Todos lo archivos que termine .pdb
*.pdb

# Todos lo archivos que termine bin
bin/

# Todos lo archivos que termine cache
cache/

# Archivos generados por compilación y VS
*.cache
*.suo
*.vsdx
*.json
*.backup.json
*.vsidx

# Archivos de bases de datos temporales
*.db-shm
*.db-wal

